@using Winterra.Models.PartialModels

<section>
    <h2>@(Model.Title)</h2>
    @* <div class="tbl_head01 tbl_wrap">
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gems</th>
                    <th scope="col">Is Online</th>
                    <th scope="col">Trophies</th>
    using Winterra.Models.DataModels;
#line default
e default
                <th scope="col">Level</th>
                    <th scope="col">XP</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if(Model.AccountList != null)
                {
                    var i = 1;
                    var j = 0;

                    @foreach (var p in Model.AccountList)
                    {
                        <tr class="bg@(j%2)">
                            <td class="td_num">@i</td>
                            <td class="td_id">@p.Name</td>
                            <td class="td_center">@p.Gems</td>
                            <td class="td_center">@p.IsOnline</td>
                            <td class="td_center">@p.Trophies</td>
                            <td class="td_center">@p.Verified</td>
                            <td class="td_center">@p.Level</td>
                            <td class="td_center">@p.Xp</td>
                            <td class="td_mng td_mng_s"><a href="customer_modify?id=@p.Id" class="btn btn_03">Edit</a></td>
                        </tr>

                        i++;
                        j++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="btn_list03 btn_list"><a href="customer_list.php">제보 전체보기</a></div> *@

    COntent table
</section>