<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winterra</title>
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.cdnfonts.com/css/grobold" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body>
    <header>
        <div class="header-container">
             <div class="header-content"> 
                <a asp-controller="Home" asp-action="Index"><img class="header-logo" src="~/assets/images/logo-wintera-white.png" alt=""></a>
                <nav class="header-menu">
                    <ul>
                        <li >
                            <a asp-controller="Home" asp-action="Index" class="menu-item @(Model.MenuOut == 1 ? "active" : "")">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Lore" asp-action="Index" class="menu-item @(Model.MenuOut == 2 ? "active" : "")">Lore</a>
                        </li>
                        <li>
                            <a asp-controller="News" asp-action="Index" class="menu-item @(Model.MenuOut == 3 ? "active" : "")">News</a>
                        </li>
                        <li>
                            <a asp-controller="Stellar" asp-action="Index" class="menu-item @(Model.MenuOut == 4 ? "active" : "")" class="menu-item">Stellar</a>
                        </li>
                        <li>
                            <a asp-controller="Playbook" asp-action="Index" class="menu-item @(Model.MenuOut == 5 ? "active" : "")">Playbook</a>
                        </li>
                        <li>
                            <a class="menu-item @(Model.MenuOut == 6 ? "active" : "")" >
                                Terms & Policies 
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <div class="sub-menu">
                                <a asp-controller="TermsAndPolicy" asp-action="PrivacyPolicy" class="menu-item">Privacy Policy</a>
                                <a asp-controller="TermsAndPolicy" asp-action="TermsOfUse" class="menu-item">Terms of use</a>
                                <a asp-controller="TermsAndPolicy" asp-action="CodeOfConduct" class="menu-item">Code of conduct</a>
                            </div>
                        </li>
                    </ul>
                </nav>
             
                <div class="mobile-menu-nav">
                    <a href="#" class="menu-item" id="openDownload">Download</a>
                    <button id="openSideNav">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
            
           
        </div>
    </header>
    <main>
        @RenderBody()

        <!-- Mobile menu -->
        <section>
            <div class="menu-nav">
                <div class="menu-header">
                    <img src="/assets/images/logo-wintera-white.png" alt="">
                    <button>
                        <i class="fa-solid fa-xmark close-nav"></i>
                    </button>
                </div>
                <div class="mobile-menu">
                    <div class="mobile-menu-item">
                        <a asp-controller="Home" action="Index">Home</a>
                    </div>
                    <div class="mobile-menu-item">
                        <a asp-controller="Lore" action="Index">Lore</a>
                    </div>
                    <div class="mobile-menu-item">
                        <a asp-controller="News" action="Index">News</a>
                    </div>
                    <div class="mobile-menu-item">
                        <a asp-controller="Stellar" action="Index">Stellar</a>
                    </div>
                    <div class="mobile-menu-item">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <a href="">Terms & Policies</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="mobile-sub-menu">
                            <a asp-controller="TermsPolicy" asp-action="PrivacyPolicy" class="menu-item">Privacy Policy</a>
                            <a asp-controller="TermsPolicy" asp-action="TermsOfUse" class="menu-item">Terms of use</a>
                            <a asp-controller="TermsPolicy" asp-action="CodeOfConduct" class="menu-item">Code of conduct</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    
    <div class="popup-download">
        <span>DOWNLOAD ON</span>
        <a href=""><img src="~/assets/images/googleplay.png" alt=""></a>
        <a href=""><img src="~/assets/images/applestore.png" alt=""></a>
        <button id="closeDownload">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M4.39573 25.605C2.96308 24.2213 1.82034 22.5661 1.03421 20.7361C0.248073 18.906 -0.16572 16.9377 -0.183027 14.946C-0.200335 12.9543 0.179191 10.9791 0.933404 9.13569C1.68762 7.29224 2.80141 5.61746 4.2098 4.20907C5.6182 2.80068 7.29297 1.68689 9.13642 0.932672C10.9799 0.178458 12.9551 -0.201067 14.9467 -0.18376C16.9384 -0.166453 18.9067 0.247341 20.7368 1.03348C22.5669 1.81961 24.222 2.96234 25.6057 4.395C28.3381 7.22403 29.85 11.0131 29.8158 14.946C29.7817 18.879 28.2041 22.6412 25.423 25.4223C22.6419 28.2034 18.8797 29.7809 14.9467 29.8151C11.0138 29.8493 7.22476 28.3374 4.39573 25.605ZM17.1007 15L21.3457 10.755L19.2307 8.64L15.0007 12.885L10.7557 8.64L8.64073 10.755L12.8857 15L8.64073 19.245L10.7557 21.36L15.0007 17.115L19.2457 21.36L21.3607 19.245L17.1157 15H17.1007Z" fill="black"/>
                </svg>
        </button>
    </div>

    <footer>
        <div class="container_container py-1">
            <div class="footer-container">
                <img class="footer-logo" src="~/assets/images/logo-wintera-white.png" alt="">
                <div class="footer-terms flex-row mt-3 opacity-50">
                    <a asp-controller="TermsAndPolicy" asp-action="PrivacyPolicy">Privacy Policy</a>
                    <a asp-controller="TermsAndPolicy" asp-action="TermsOfUse">Terms of use</a>
                    <a asp-controller="TermsAndPolicy" asp-action="CodeOfConduct">Code Of conduct</Code></a>
                </div>
                <p class="mt-3">“Made by a AGA who love strategy games.”</p>
                <div class="footer-content-menu flex-row gap-5">
                    <a href=""><i class="fa-brands fa-discord"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                </div>
                <p class="mt-3">Copyright © All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/script.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/js/ckeditor.js" type="text/javascript" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
