@using Winterra.Models.ViewModels

<div class="container_wr" id="main-content">
    <section>
        <h2>@(Model.MenuIn)</h2>

        @await Html.PartialAsync("_AccountTablePartial", new AccountTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.AdminAccountList.Items
        })

        <ul class="pg_btn_list">
            @if(Model.AdminAccountList != null){
                <li class="pg_item">
                    <a class="pg_lnk @(Model.AdminAccountList.HasPreviousPage ? "" : "disabled")" 
                    asp-route-pageNumber="@(Model.AdminAccountList.PageNumber - 1)"
                    asp-route-pageSize="@Model.AdminAccountList.PageSize">&laquo;</a>
                </li>
                @foreach (var pg in Model.AdminAccountList.Pages)
                {
                    <li class="pg_item">
                        <a class="pg_lnk @(Model.AdminAccountList.PageNumber == pg ? "active" : "")"
                        asp-route-pageNumber="@pg"
                        asp-route-pageSize="@Model.AdminAccountList.PageSize">@pg</a>
                    </li>
                }
                <li class="pg_item">
                    <a class="pg_lnk @(Model.AdminAccountList.HasNextPage ? "" : "disabled")" 
                    asp-route-pageNumber="@(Model.AdminAccountList.PageNumber + 1)"
                    asp-route-pageSize="@Model.AdminAccountList.PageSize">&raquo;</a>
                </li>
            }
        </ul>
    </section>
</div>