@using System.Linq
@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
    <div class="td_hd">
        <h2>@(Model.MenuIn)</h2>
        <a asp-controller="Content" 
        asp-action="Create" asp-route-menuIn="@Model.MenuIn" class="btn btn_create">Create</a>
    </div>
    
    @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
    {
        Title = "Characters",
         MenuIn = Model.MenuIn,
        Items = Model.FeatureContentList.Items
    })

    <ul class="pg_btn_list">
        @if(Model.FeatureContentList != null){
            <li class="pg_item">
                <a class="pg_lnk @(Model.FeatureContentList.HasPreviousPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.FeatureContentList.PageNumber - 1)"
                asp-route-pageSize="@Model.FeatureContentList.PageSize">&laquo;</a>
            </li>
            @foreach (var pg in Model.FeatureContentList.Pages)
            {
                <li class="pg_item">
                    <a class="pg_lnk @(Model.FeatureContentList.PageNumber == pg ? "active" : "")"
                    asp-route-pageNumber="@pg"
                    asp-route-pageSize="@Model.FeatureContentList.PageSize">@pg</a>
                </li>
            }
            <li class="pg_item">
                <a class="pg_lnk @(Model.FeatureContentList.HasNextPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.FeatureContentList.PageNumber + 1)"
                asp-route-pageSize="@Model.FeatureContentList.PageSize">&raquo;</a>
            </li>
        }
    </ul>
</section>
</div>