@using System.Linq
@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
    <div class="tbl_hd">
        <h2>@(Model.MenuIn)</h2>
        <div class="lft_cnt">
            <form asp-controller="Content" asp-action="Highlights" method="get">
                <p>
                    <label>Title: <input class="search_input" type="text" value="@Model.Search" name="search" /></label>
                    <button type="submit" class="btn btn_03">Search</button>
                </p>
            </form>
            <a asp-controller="Content" asp-action="Create" asp-route-menuIn="@Model.MenuIn" class="btn btn_create">Create</a>
        </div>
    </div>
    
    @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
    {
        MenuIn = Model.MenuIn,
        Items = Model.HighlightContentList.Items
    })

    <ul class="pg_btn_list">
        <form id="sort_by_form" class="srt_form" asp-controller="Content" asp-action="Highlights" method="get">
            <input type="hidden" name="pageNumber" value="@Model.HighlightContentList.PageNumber" />
            <input type="hidden" name="pageSize" value="@Model.HighlightContentList.PageSize" />
            <input type="hidden" name="search" value="@Model.Search" />
            
            <select name="sortBy" onchange="document.getElementById('sort_by_form').submit();">
                <option value="newest" selected="@(Model.SortBy == "newest")">Newest</option>
                <option value="oldest" selected="@(Model.SortBy == "oldest")">Oldest</option>
            </select>
        </form>

        @if(Model.HighlightContentList != null){
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightContentList.HasPreviousPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightContentList.PageNumber - 1)"
                asp-route-pageSize="@Model.HighlightContentList.PageSize"
                asp-route-search="@Model.Search"
                asp-route-sortBy="@Model.SortBy">&laquo;</a>
            </li>
            @foreach (var pg in Model.HighlightContentList.Pages)
            {
                <li class="pg_item">
                    <a class="pg_lnk @(Model.HighlightContentList.PageNumber == pg ? "active" : "")"
                    asp-route-pageNumber="@pg"
                    asp-route-pageSize="@Model.HighlightContentList.PageSize"
                    asp-route-search="@Model.Search"
                    asp-route-sortBy="@Model.SortBy">@pg</a>
                </li>
            }
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightContentList.HasNextPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightContentList.PageNumber + 1)"
                asp-route-pageSize="@Model.HighlightContentList.PageSize"
                asp-route-search="@Model.Search"
                asp-route-sortBy="@Model.SortBy">&raquo;</a>
            </li>
        }
    </ul>
</section>
</div>