@using System.Linq
@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
    <div class="tbl_hd">
        <h2>@(Model.MenuIn)</h2>
        <a asp-controller="Content" 
        asp-action="Create" asp-route-menuIn="@Model.MenuIn" class="btn btn_create">Create</a>
    </div>
    
    @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
    {
        MenuIn = Model.MenuIn,
        Items = Model.HighlightContentList.Items
    })

    <ul class="pg_btn_list">
        @if(Model.HighlightContentList != null){
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightContentList.HasPreviousPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightContentList.PageNumber - 1)"
                asp-route-pageSize="@Model.HighlightContentList.PageSize">&laquo;</a>
            </li>
            @foreach (var pg in Model.HighlightContentList.Pages)
            {
                <li class="pg_item">
                    <a class="pg_lnk @(Model.HighlightContentList.PageNumber == pg ? "active" : "")"
                    asp-route-pageNumber="@pg"
                    asp-route-pageSize="@Model.HighlightContentList.PageSize">@pg</a>
                </li>
            }
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightContentList.HasNextPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightContentList.PageNumber + 1)"
                asp-route-pageSize="@Model.HighlightContentList.PageSize">&raquo;</a>
            </li>
        }
    </ul>
</section>
</div>