@using System.Linq
@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
        <div class="tbl_hd">
            <div class="rgt_cnt">
                @await Html.PartialAsync("_ContentFilterPartial", new ContentFilterModel
                {
                    Search = Model.Search,
                    SortBy = Model.SortBy,
                    PageNumber = Model.NewsContentList.PageNumber,
                    PageSize = Model.NewsContentList.PageSize,
                    StartDate = Model.StartDate,
                    FinishDate = Model.FinishDate,
                    FormController = "Content",
                    FormAction = "News"
                })
                <a asp-controller="Content" asp-action="Create" asp-route-menuIn="@Model.MenuIn" class="btn btn_create">Create</a>
            </div>
            <div class="lft_cnt">
                @await Html.PartialAsync("_ContentPageSizesPartial", new ContentPageSizesModel
                {
                    Search = Model.Search,
                    SortBy = Model.SortBy,
                    PageNumber = Model.NewsContentList.PageNumber,
                    PageSize = Model.NewsContentList.PageSize,
                    StartDate = Model.StartDate,
                    FinishDate = Model.FinishDate,
                    FormController = "Content",
                    FormAction = "News"
                })
            </div>
        </div>
    
        @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.NewsContentList.Items
        })

        <ul class="pg_btn_list">
            @if(Model.NewsContentList != null && Model.NewsContentList.Pages.Count > 0){
                <li class="pg_item">
                    <a class="pg_lnk @(Model.NewsContentList.HasPreviousPage ? "" : "disabled")" 
                    asp-route-pageNumber="@(Model.NewsContentList.PageNumber - 1)"
                    asp-route-pageSize="@Model.NewsContentList.PageSize"
                    asp-route-search="@Model.Search"
                    asp-route-sortBy="@Model.SortBy">&laquo;</a>
                </li>
                @foreach (var pg in Model.NewsContentList.Pages)
                {
                    <li class="pg_item">
                        <a class="pg_lnk @(Model.NewsContentList.PageNumber == pg ? "active" : "")"
                        asp-route-pageNumber="@pg"
                        asp-route-pageSize="@Model.NewsContentList.PageSize"
                        asp-route-search="@Model.Search"
                        asp-route-sortBy="@Model.SortBy">@pg</a>
                    </li>
                }
                <li class="pg_item">
                    <a class="pg_lnk @(Model.NewsContentList.HasNextPage ? "" : "disabled")" 
                    asp-route-pageNumber="@(Model.NewsContentList.PageNumber + 1)"
                    asp-route-pageSize="@Model.NewsContentList.PageSize"
                    asp-route-search="@Model.Search"
                    asp-route-sortBy="@Model.SortBy">&raquo;</a>
                </li>
            }
        </ul>
    </section>
</div>