@using System.Linq
@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
    <div class="tbl_hd">
        <h2>@(Model.MenuIn)</h2>
        <div class="lft_cnt">
            <form asp-controller="Content" asp-action="PrivacyPolicy" method="get">
                <p>
                    <label>Title: <input class="search_input" type="text" value="@Model.Search" name="search" /></label>
                    <button type="submit" class="btn btn_03">Search</button>
                </p>
            </form>
            <a asp-controller="Content" asp-action="Create" asp-route-menuIn="@Model.MenuIn" class="btn btn_create">Create</a>
        </div>
    </div>
    
    @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
    {
        MenuIn = Model.MenuIn,
        Items = Model.PrivacyPolicyContentList.Items
    })

    <ul class="pg_btn_list">
        @if(Model.PrivacyPolicyContentList != null){
            <li class="pg_item">
                <a class="pg_lnk @(Model.PrivacyPolicyContentList.HasPreviousPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.PrivacyPolicyContentList.PageNumber - 1)"
                asp-route-pageSize="@Model.PrivacyPolicyContentList.PageSize"
                asp-route-search="@Model.Search">&laquo;</a>
            </li>
            @foreach (var pg in Model.PrivacyPolicyContentList.Pages)
            {
                <li class="pg_item">
                    <a class="pg_lnk @(Model.PrivacyPolicyContentList.PageNumber == pg ? "active" : "")"
                    asp-route-pageNumber="@pg"
                    asp-route-pageSize="@Model.PrivacyPolicyContentList.PageSize"
                    asp-route-search="@Model.Search">@pg</a>
                </li>
            }
            <li class="pg_item">
                <a class="pg_lnk @(Model.PrivacyPolicyContentList.HasNextPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.PrivacyPolicyContentList.PageNumber + 1)"
                asp-route-pageSize="@Model.PrivacyPolicyContentList.PageSize"
                asp-route-search="@Model.Search">&raquo;</a>
            </li>
        }
    </ul>
</section>
</div>