@model AccountEditViewModel

<div class="container_wr" id="main-content">
    @if(Model.Account != null){
        <form asp-action="Edit" asp-route-menuIn="@Model.MenuIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Account.Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tbl_frm02 tbl_wrap">
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="2"><label>Content Information</label></th>
                                </tr>
                                <tr>
                                    <td><label asp-for="@Model.Account.Name"></label></td>
                                    <td><input class="frm_input" asp-for="@Model.Account.Name" />
                                    <span class="text-danger" asp-validation-for="@Model.Account.Name"></span></td>
                                </tr>
                                <tr>
                                    <td><label asp-for="@Model.Account.Verified"></label></td>
                                    <td><input class="frm_input" asp-for="@Model.Account.Verified" /><span class="text-danger" asp-validation-for="@Model.Account.Verified"></span></td>
                                </tr>
                                <tr>
                                    <th><label>Game Progress</label></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><label asp-for="@Model.Account.Stellar"></label></td>
                                    <td><input class="frm_input" asp-for="@Model.Account.Stellar" /><span class="text-danger" asp-validation-for="@Model.Account.Stellar"></span></td>
                                </tr>
                                <tr>
                                    <td><label asp-for="@Model.Account.Banned"></label></td>
                                    <td>
                                        <input class="frm_input" asp-for="@Model.Account.Banned" />
                                        <span class="text-danger" asp-validation-for="@Model.Account.Banned"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Submit Button (full width) -->
            <div class="form-group mt-4 text-center td_edt">
                <button type="submit" class="btn btn_03 edit_btn">Save</button>
            </div>
        </form>
    } else {
        <span>Content not available</span>
    }
</div>
