@using Winterra.Models.ViewModels
<div class="container_wr">
	@* <section>
		<h2>Accounts (@(Model.AccountCount))</h2>
		<div class="tbl_head01 tbl_wrap">
			<table>
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Gems</th>
						<th scope="col">Is Online</th>
						<th scope="col">Trophies</th>
						<th scope="col">IP</th>
						<th scope="col">Level</th>
						<th scope="col">XP</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					@if(Model.AccountList != null)
					{
						var i = 1;
						var j = 0;

						@foreach (var p in Model.AccountList)
						{
							<tr class="bg@(j%2)">
								<td class="td_num">@i</td>
								<td class="td_id">@p.Name</td>
								<td class="td_center">@p.Gems</td>
								<td class="td_center">@p.IsOnline</td>
								<td class="td_center">@p.Trophies</td>
								<td class="td_center">@p.Verified</td>
								<td class="td_center">@p.Level</td>
								<td class="td_center">@p.Xp</td>
								<td class="td_mng td_mng_s"><a href="customer_modify?id=@p.Id" class="btn btn_03">Edit</a></td>
							</tr>

							i++;
							j++;
						}
					}
				</tbody>
			</table>
		</div>
		<div class="btn_list03 btn_list"><a href="customer_list.php">제보 전체보기</a></div>
	</section> *@
	@* <section style="float:left;width:49%;">
		<h2>최근방문기록</h2>
		@if (Model.AccountList != null)
		{
			<link rel="stylesheet" href="assets/css/morris.css" />
			<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
			<script type="text/javascript" src="assets/js/morris.min.js"></script>
			<script type="text/javascript" src="assets/js/raphael-min.js"></script>

			<div class="tbl_head01 tbl_wrap">
				<div id="morris_chart_1" style="height:350px;"></div>
			</div>
			<script type="text/javascript">
				const items = [
					@foreach (var p in Model.AccountList)
					{
						<text>{ y: '', a: '100', b: '200', c: '300' },</text>
					}
				];

				jQuery(document).ready(function () {
					new Morris.Line({
					element: 'morris_chart_1',
					data: items,
					xkey: 'y',
					ykeys: ['a', 'b', 'c'],
					labels: ['방문자수', '웹', '모바일']
					});
				});
			</script> 
		}
	</section>
	<section style="float:right;width:49%;">
		<h2>Total Status Record</h2>
		<div class="tbl_head01 tbl_wrap">
			<table>
				<thead>
					<tr>
						<th scope="col">Status</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td_itopt_tl">Total number of Players</td>
						<td class="td_numincome">@(Model.AccountCount)</td>
					</tr>
					<tr>
						<td class="td_itopt_tl">Total number of Online Players</td>
						<td class="td_numincome">@(Model.AccountIsOnlineCount)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<div style="clear:both;"></div> *@
</div>