<div class="container_wr" id="main-content">
    <section>
    <div class="td_hd">
        <h2>@(Model.MenuIn)</h2>
        <a href="#" class="btn btn_create">Create</a>
    </div>
    <div class="tbl_head01 tbl_wrap">
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if(Model.HighlightPreviewList != null)
                {
                    var i = 1;
                    var j = 0;

                    @foreach (var p in Model.HighlightPreviewList.Items)
                    {
                        <tr class="bg@(j%2)">
                            <td class="td_num">@p.Id</td>
                            <td class="td_id">@p.Type</td>
                            <td class="td_center">@p.Image</td>
                            <td class="td_center">@p.Name</td>
                             <td class="td_mng td_mng_s"><a asp-controller="Preview" asp-action="Edit" asp-route-menuIn="@Model.MenuIn" asp-route-id="@p.Id" class="btn btn_03">Edit</a></td>
                        </tr>

                        i++;
                        j++;
                    }
                }
            </tbody>
        </table>
    </div>
    <ul class="pg_btn_list">
        @if(Model.HighlightPreviewList != null){
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightPreviewList.HasPreviousPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightPreviewList.PageNumber - 1)"
                asp-route-pageSize="@Model.HighlightPreviewList.PageSize">&laquo;</a>
            </li>
            @foreach (var pg in Model.HighlightPreviewList.Pages)
            {
                <li class="pg_item">
                    <a class="pg_lnk @(Model.HighlightPreviewList.PageNumber == pg ? "active" : "")"
                    asp-route-pageNumber="@pg"
                    asp-route-pageSize="@Model.HighlightPreviewList.PageSize">@pg</a>
                </li>
            }
            <li class="pg_item">
                <a class="pg_lnk @(Model.HighlightPreviewList.HasNextPage ? "" : "disabled")" 
                asp-route-pageNumber="@(Model.HighlightPreviewList.PageNumber + 1)"
                asp-route-pageSize="@Model.HighlightPreviewList.PageSize">&raquo;</a>
            </li>
        }
    </ul>
</section>
</div>