@model ContentPageSizesModel;

<form id="pgsize" asp-controller="@Model.FormController" asp-action="@Model.FormAction"method="get" >
    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
    <input type="hidden" name="search" value="@Model.Search" />
    <input type="hidden" name="startDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")"/>
    <input type="hidden" name="finishDate" value="@Model.FinishDate?.ToString("yyyy-MM-dd")"/>
    <input type="hidden" name="sortBy" value="@Model.SortBy"/>

    <select name="pageSize" onchange="pgsize.submit();">
        <option value="30" selected="@(Model.PageSize == 30)">30 views each</option>
        <option value="50" selected="@(Model.PageSize == 50)">50 views each</option>
        <option value="100" selected="@(Model.PageSize == 100)">100 views each</option>
    </select>
</form>